.welcome{
    color: #FFFFFF8C;
    margin: 0;
}

.dropdown-menu{
    background-color: #212529;
}

.dropdown-item{
    
    color: #FFFFFF8C;
}


a.dropdown-item {
    color: #FFFFFF8C; 
    background-color: transparent; 
  }
  

  a.dropdown-item:hover {
    color: #fff; 
    background-color: #212529; 
  }
  
.nav-link{
    font-size: 130%;
}

.nav-link:hover{
    cursor: pointer;
}

  
  