/* Estilos para el mensaje de error */
.error-title {
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    color: black; /* Color rojo */
  }
  


  .error-subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black; /* Color rojo */
  }
  
  .error-message {
    font-size: 18px;
    text-align: center;
    color: black; /* Color gris oscuro */
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* News Style*/

  .post-container {
    margin: 10%;
    background-color: #812828;
    padding: 2%;
  
  } 
  .news-title {
    font-size: 330%;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1%;
  }
  
  .news-date {
    font-size: 140%;
    text-align: left;
    color: #888; /* Color gris */
    margin-bottom: 20px;
  }
  
  .news-content {
    font-size: 150%;
    line-height: 1.6;
    max-width: 800px;
  }
  
  /* Resto de tus estilos... */

/* Estilos para la papelera de reciclaje */
.trash-icon-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -50px; /* Ajusta este valor para posicionar la papelera a tu gusto */
}

.trash-icon {
  font-size: 24px;
  
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.trash-icon:hover {
  transform: scale(1.1); /* Ajusta este valor para cambiar el tamaño en hover */
}

/* Resto de tus estilos... */
