



<div class="home2-infoSection">
    <div class="text-section">
        <h2 class="home2-Title"> Sail across the One Piece world </h2>
        <p class="home2-text">Explore the One Piece's world inmesity with your friends or many other players. You are in freedom to choose your own path.
            create a crew and be the most evil pirate of all time or defend good by becoming a fleet admiral. </p>

        <p class="home2-text"> Play your own style, wield powerful kairoseki weapons, master the conqueror's haki, or claim your right to powerful devil fruits. </p>
    </div>
    <div class="video-section">
        <img src="../../../assets/start.gif" alt="GIF" style="max-width: 90%; height: auto;">
    </div>
  </div>

  <div class="home2-infoSection">
    <div class="text-section">
        <h2 class="home2-Title"> Choose the path of good being a marine... </h2>
        <p class="home2-text">Explore the One Piece's world inmesity with your friends or many other players. You are in freedom to choose your own path.
            create a crew and be the most evil pirate of all time or defend good by becoming a fleet admiral. </p>

        <p class="home2-text"> Play your own style, wield powerful kairoseki weapons, master the conqueror's haki, or claim your right to powerful devil fruits. </p>
        <div class="video-section">
            <img src="../../../assets/start.gif" alt="GIF" style="max-width: 90%; height: auto;">
        </div>
    </div>
    <div class="text-section">
        <h2 class="home2-Title"> Or become the most evil pirate of all time </h2>
        <p class="home2-text">Explore the One Piece's world inmesity with your friends or many other players. You are in freedom to choose your own path.
            create a crew and be the most evil pirate of all time or defend good by becoming a fleet admiral. </p>

        <p class="home2-text"> Play your own style, wield powerful kairoseki weapons, master the conqueror's haki, or claim your right to powerful devil fruits. </p>
        <div class="video-section">
            <img src="../../../assets/start.gif" alt="GIF" style="max-width: 90%; height: auto;">
        </div>
    </div>
  </div>


  <div class="home2-infoSection">
    <div class="text-section">
        <h2 class="home2-Title"> Choose the path of good being a marine... </h2>
        <p class="home2-text">Explore the One Piece's world inmesity with your friends or many other players. You are in freedom to choose your own path.
            create a crew and be the most evil pirate of all time or defend good by becoming a fleet admiral. </p>

        <p class="home2-text"> Play your own style, wield powerful kairoseki weapons, master the conqueror's haki, or claim your right to powerful devil fruits. </p>
        <div class="video-section">
            <img src="../../../assets/start.gif" alt="GIF" style="max-width: 90%; height: auto;">
        </div>
    </div>
    <div class="text-section">
        <h2 class="home2-Title"> Or become the most evil pirate of all time </h2>
        <p class="home2-text">Explore the One Piece's world inmesity with your friends or many other players. You are in freedom to choose your own path.
            create a crew and be the most evil pirate of all time or defend good by becoming a fleet admiral. </p>

        <p class="home2-text"> Play your own style, wield powerful kairoseki weapons, master the conqueror's haki, or claim your right to powerful devil fruits. </p>
        <div class="video-section">
            <img src="../../../assets/start.gif" alt="GIF" style="max-width: 90%; height: auto;">
        </div>
    </div>
  </div>



<div #howToStart>
    <app-howtostart ></app-howtostart>
</div>

