.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  .profile-image img {
    width: 200px;
    height: 200px;
  }
  
  .profile-info {
    padding: 20px;
  }
  
  .profile-info h2 {
    margin-bottom: 20px;
  }
  
  .profile-info ul {
    list-style: none;
  }
  
  .profile-info ul li {
    margin-bottom: 10px;
  }