<app-header></app-header>

<div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <div class="profile-image">
          <img src="../../assets/start.gif" alt="Imagen de perfil" class="rounded-circle img-fluid">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="profile-info">
          <h2>Datos de Perfil</h2>
          <ul>
            <li><strong>Usuario:</strong> {{username}}</li>
            <li><strong>Email:</strong> {{mail}}</li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
