<div *ngIf="getConfirmationModalOpen()">



<div class="newPost-modal-overlay">
  <div class="newPost-modal">
    <button type="button" class="close" aria-label="Close" (click)="confirmationCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>

    

    <h2 class="newPost-title">Are you sure you wanna delete this post?</h2>

      <button type="button" class="btn btn-primary btn-yes" (click)="deletePost()">Yes, delete</button>
      <button type="button" class="btn btn-danger btn-no" (click)="confirmationCloseModal()">No</button>
    
     
     

    

  </div>
</div>


</div>